<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="./reset.min.css?_inline">
	<title><%= title %></title>
</head>
<body>
<script src="./google-analyze.js"></script>
<% include footer.ejs %>
</body>
</html>